# .gitignore

# Dependencies
node_modules
.pnp
.pnp.js

# Sub-Projects (Standalone Repos)
server/
admin-portal/

# Testing
coverage

# Production
dist
build
out

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
firebase-debug.log
firestore-debug.log
ui-debug.log

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite
vite-env.d.ts

# Typescript
*.tsbuildinfo
